
* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-size: 22px;
}

/* flex for all containers */
.container {
    display: flex;
}

/*  navbar */
nav {
    box-sizing: border-box;
    min-height: 69px;
    top: 0;
    width:auto;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: sticky;
    z-index: 10;
    opacity: 0.8;
    
}

.nav-bar-container {
    justify-content: space-between;
    align-items: center;
}

.nav-link-container {
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

#nav-link {
    text-decoration: underline;
    margin-right: 15px;
    padding: 5px;
}

#nav-link:hover {
    text-decoration: none;
    color: white; !important
}

#logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}

/* header section */
.mission-container {
    background: no-repeat url("./images/img-mission-background.jpg");
    background-position: center;
    height: 700px;
    width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.mission-inside  {
    width: 100%;
    min-height: 100px;
    color: seashell;
    background-color: black;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

/* Tea of the Month */

.tea-of-month {
    max-width: 1000px;
    height: auto;
    flex-direction: column;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.month-text {
    flex-direction: column;
    height: 65px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.month-image {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.month-image-item {
    flex-direction: column;
    text-align: center;
}

.month-image-item img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

/* Location */

#location-section {
    opacity: 1;
}

.location {
    flex-direction: column;
    min-height: 500px;
    max-width: 1200px;
    margin: auto;
    background: no-repeat url("./images/img-locations-background.jpg");
    background-position: center;
    justify-content: center;
    align-items: center;
}

#location-heading {
    background: none;
    text-align: center;
}

.location-description {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: none;
}


.location-item {
    width: 300px;
    height: 300px;
    margin: 0 40px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    opacity: 1;
}

/* footer */

.contact {
    height: 200px;
    width: auto;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.copyright {
    margin: 20px 20px;
    text-align: left;
}